    body{
        background-color: rgb(47, 62, 133);
        text-align: center;
    }
main{
    background-color: rgb(218, 218, 226);
}
a p{
    background-color: rgb(237, 243, 243);
}
h1{
    background-color: rgb(237, 243, 243);
    background-position: center;
}



